@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradientMove {
  animation: gradientMove 4s ease infinite;
}

@keyframes borderPulse {
  0%,100% { opacity: 0.4; }
  50% { opacity: 1; }
}

.animate-borderPulse {
  animation: borderPulse 1.5s ease-in-out infinite;
}